@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --grey-500: #62748e;
  --grey-600: #475467;
  --brand-orange: #e6a14b;
  --brand-teal: #21615c;
}

#banner {
  background-color: var(--brand-orange);
  padding: 5rem 2rem;
  text-align: center;
  box-shadow: -2px 1px 56px 9px rgba(0,0,0,0.32);
  -webkit-box-shadow: -2px 1px 56px 9px rgba(0,0,0,0.32);
  -moz-box-shadow: -2px 1px 56px 9px rgba(0,0,0,0.32);
  h2 {
    margin: 3rem;
    color: var(--brand-teal);
  }
  p {
    font-size: 2rem;
    color: #fff;
    width: 70%;
    margin: auto;
    font-family: 'DM Serif Text';;
  }
}

.bg-img {
  opacity: 0.15;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
}

.filter-grey600-svg {
  filter: brightness(0) saturate(100%) invert(27%) sepia(37%) saturate(340%) hue-rotate(175deg) brightness(101%) contrast(85%);
}
.filter-orange-svg {
  filter: invert(63%) sepia(74%) saturate(367%) hue-rotate(351deg) brightness(93%) contrast(93%);
}
.filter-white-svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(237deg) brightness(106%) contrast(101%);
}

footer {
    position: sticky;
    background-color: var(--grey-600);
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    img {
      display: inline-block;
      width: 25px;
      height: 25px;
      vertical-align: bottom;
      margin-right: 0.25rem;
    }
}

.grid {
  margin: 2rem auto 0;
}

.grid-col {
  vertical-align: top;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 12px 1px rgba(115, 115, 115, 0.26);
  -webkit-box-shadow: 1px 1px 12px 1px rgba(115, 115, 115, 0.26);
  -moz-box-shadow: 1px 1px 12px 1px rgba(115,115,115,0.26);
  min-height: 410px;
  .icon-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-600);
    padding: 4rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    img {
      width: 80px;
      height: 80px;
    }
  }
  &:first-of-type {
    .icon-container {
      img {
        transform: rotateY(3.142rad);
      }
    }
  }
  h3 {
    text-align: center;
  }
  p {
    font-size: 1rem;
    color: var(--grey-500);
    padding: 0 1.5rem;
  }
}

h* {
  font-family: 'DM Serif Text';;
}

header {
  width: 100%;
  min-height: 988px;
  position: relative;
  overflow: hidden;
  .grid {
    .grid-col {
      h3 {
        color: var(--grey-600);
        font-size: 1.6rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
  h1 {
      font-size: 3.5rem;
  }
  .animIntro {
    position: relative;
    height: 2.5rem;
    margin: 7rem 0 2rem;
    align-items: center;
    p {
      font-size: 3.5rem;
    }
    p, h1 {
        font-family: 'DM Serif Text';
        color: #24726c;
        text-align: center;
        font-weight: 800;
        margin: 0;
    }
  }
  p {
    font-size: 1.75rem;
    color: var(--grey-600);
  }
  .text {
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 0;

    &:nth-child(1) {
      animation: slideUp 6s linear forwards, fadeCycle 4s linear forwards; 
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation: slideUp 6s linear forwards, fadeCycle 4s linear forwards; 
      animation-delay: 2s;
    }

    &:nth-child(3) {
      animation: slideToFinal 4s forwards, fadeInStay 2s forwards;
      animation-delay: 4s;
      margin-top: -50px;
    }

  }
  @media (min-width:992px) {
    .grid {
      width: 80%;
      margin: auto;
    }
    .grid-col {
      width: 20%;
      display: inline-block;
      margin: 0 2.1rem;
    }
  }
  nav {
    background-color: #fff;
    box-shadow: -4px 20px 27px 0px rgba(0,0,0,0.21);
    -webkit-box-shadow: -4px 20px 27px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: -4px 20px 27px 0px rgba(0,0,0,0.21);
    position: relative;
    img {
      height: 50px;
    }
  }  
  .headline,
  .grid,
  button {
    opacity: 0;
  }
  .headline {
    animation: fadeInStay 2s forwards;
    animation-delay: 6s;
  }
  .grid {
    animation: fadeInStay 2s forwards;
    animation-delay: 7s;
  }
  button {
    animation: fadeInStay 2s forwards;
    animation-delay: 8s;
    background-color: #206963;
    color: #fff;
    padding: 0.75rem;
    margin: 4rem auto;
    display: block;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}

#how-it-works {
  padding: 5rem 2.5rem 6.5rem;
  .grid-col {
    min-height: unset;
  }
  .grid,
  .section-card-wide {
    display: inline-block;
  }
  .grid {
    width: 30%;
  }
  .section-card-wide {
    padding: 0 2.5rem 2.5rem;
    h2 {
      margin: 2.5rem 0 3rem;
    }
    h2, p {
      color: #fff;
    }
  }
  @media (min-width:992px) {
    .grid {
      width: 100%;
      margin: auto;
    }
    .section-card-wide {
      width: 60%;
      padding: 0 2.5rem 4.25rem;
      vertical-align: top;
      h2, p {
        color: #fff;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .grid-col {
      width: 45%;
      display: inline-block;
      margin: 1.5rem 1.5rem 0 0;
      .icon-container {
        background-color: transparent;
        width: 15%;
        padding: 0.5rem 1rem;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .text-container {
        width: 77.75%;
      }
      .icon-container,
      .text-container {
        display: inline-block;
      }
      h3, p {
        color: var(--grey-600);
      }
      h3 {
        text-align: left;
      }
      p {
        font-size: 1rem;
        padding: 0;
      }
    }
  }
}

#form-ctn {
  background-color: var(--brand-teal);
  padding: 7rem 0;
  color: #fff;
  p {
    font-size: 1.5rem;
  }
}

.headline {
    text-align: center;
    width: 85%;
    margin: 4rem auto;
}

.input-validation {
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  &.success {
    border: 2px solid green;
    color: green;
  }
  &.error {
    border: 2px solid red;
    color: red;
  }
}

#lead-gen-form {
  width: 35%;
  margin: auto;
  label, input {
    display: block;
    font-size: 1.3rem;
  }
  label {
    color: #fff;
    font-family: 'Instrument Sans';
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    height: 2.25rem;
    color: var(--brand-teal);
    &[type="submit"] {
      background-color: var(--brand-orange);
      color: var(--grey-600);
      font-weight: 800;
      border: none;
      border-radius: 12px;
      padding: 0.75rem 0.5rem;
      margin: 1rem auto;
      width: 9.75rem;
      height: 3rem;
      line-height: 0.25;
    }
  }
}

p {
  font-family: 'Instrument Sans';
}

.second-heading {
    font-family: 'DM Serif Text';
    font-size: 2.65rem;
    font-weight: 800;
    text-align: center;
}

section {
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

.section-card-wide {
  border-radius: 0.5rem;
  box-shadow: 1px 1px 12px 1px rgba(115, 115, 115, 0.26);
  -webkit-box-shadow: 1px 1px 12px 1px rgba(115, 115, 115, 0.26);
  -moz-box-shadow: 1px 1px 12px 1px rgba(115,115,115,0.26);
  &.bg-grey-600 {
    background-color: var(--grey-600);
  }
}

section.fade-in {
  /* display: block; */
  opacity: 1;
}

/* Keyframes:
   - fade in (0–20%)
   - stay visible (20–40%)
   - fade out (40–60%)
   - stay gone (60–100%)
*/
@keyframes fadeCycle {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeInStay {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { transform: translateY(0); }
  33% { transform: translateY(-50px); }
  66% { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

@keyframes slideToFinal {
  0%   { transform: translateY(75%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}